
/*
=================
SIGN OUT BUTTON
=================
*/

.signoutButton{
  color: white;
  font-family: 'Inter';
  font-weight: 600;
  background-color: rgba(255,255,255,.1);
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 10px 10px 10px 10px;
  outline: none;

  position: fixed;
  bottom: 10px;
  right: 10px;

  transition: .2s;
}

.signoutButton:hover{
  background-color: rgba(255,255,255,.3);
  cursor: pointer;
}

.signoutButton:focus{
  border: 2px solid white;
}

.signoutButton:active{
  background-color: rgba(255,255,255,.4);
}

/*
=================
HELP BUTTON
=================
*/

.helpButton{
  color: #32384B;
  background-color: Transparent;
  border: none;
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 700;

  position: fixed; /*or absolute ONLY bc parent is 100vh*/
  bottom: 10vh;
}

.helpButton:hover{
  color:#444d69;
  cursor: pointer;
}

.helpButton:active{
  color:#505a7a;
}

.helpButton:focus{
  outline:none;
}

/*
=================
HELP BUTTON
=================
*/

.returnButton{
  color: white;
  background: #32384B;
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: .2s;
  border: 2px solid transparent;
}
.returnButton:hover{
  background-color: #444d69;
  cursor: pointer;
}
.returnButton:focus{
  border: 2px solid #2f6fad;
}
.returnButton:active{
  background-color: #505a7a;
}

/*
=================
HYPERLINK
=================
*/

.hyperlink{
  color: #3498db;
}

.hyperlink:hover{
  color: #54a0ff;
}

.hyperlink:active{
  color: #54bdff;
}

.modal button{
  background-color: Transparent;
  border: none;
}

.modal button:focus{
  outline:none;
}
