.modal{
  background: #32384B;
  text-align:left;
  max-width: 460px;
  padding: 30px 30px 30px 30px;
  border-radius: 4px;
}

.xButton{
  width: 20px;
  height: 20px;
  position:fixed;
  top:10px;
  right:10px;
}

.xButton:hover{
  opacity: .7;
}

.signature{
  text-align: right;
}

.prompt{
  margin-bottom: 10px;
}

.signinButton{
  color: white;
  font-size: 35px;
  font-family: 'Inter';
  font-weight: 700;
  background-color: #32384B;
  border-radius: 10px;
  border: none;
  margin-top:10px;
  padding-top:30px;
  padding-bottom:30px;
  width: 500px;
  outline: none;

  transition: .2s;

  border: 2px solid transparent;
}

.signinButton:hover{
  background-color: #444d69;/*606c91*/
  cursor: pointer;
}
.signinButton:focus{
  border: 2px solid #2f6fad;/*2e77bf;/*2e86de*/
}
.signinButton:active{
  background-color: #505a7a;
}

.event{
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.time{
  opacity: 0.15;
  font-size: 100px;
  margin-top:30px;
  margin-bottom: 0px;
  font-family: 'Share Tech Mono','Roboto Mono', monospace;
  font-weight: 700;
}

.remaining{
  //color: #32384B;
  opacity: 0.15;
  margin-top:0px;
  margin-bottom: 30px;
  //font-family: 'Share Tech Mono','Roboto Mono', monospace;
}
@media only screen and (max-width: 520px) {
  .signinButton{
    width: 80vw;
  }
}
@media only screen and (max-width: 435px) {
  .modal{
    max-width: 290px;
  }
}
@media only screen and (max-width: 430px) {
  .signinButton{
      font-size:25px;
  }
}
