.prompt{
  margin-bottom: 10px;
}

.signinButton{
  color: white;
  font-size: 30px;
  font-family: 'Inter';
  font-weight: 700;
  background-color: #32384B;
  border-radius: 10px;
  border: none;
  padding-top:30px;
  padding-bottom:30px;
  width: 500px;
  outline: none;

  transition: .2s;

  border: 2px solid transparent;
}

.signinButton:hover{
  background-color: #444d69;/*606c91*/
}
.signinButton:focus{
  border: 2px solid #2f6fad;/*2e77bf;/*2e86de*/
}
.signinButton:active{
  background-color: #505a7a;
}

.helpButton{
  color: #32384B;
  background-color: Transparent;
  border: none;
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 700;

  position: fixed; /*or absolute ONLY bc parent is 100vh*/
  bottom: 10vh;
}

.event{
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.time{
  opacity: 0.15;
  font-size: 100px;
  margin-top:20px;
  margin-bottom: 0px;
}

.remaining{
  //color: #32384B;
  opacity: 0.15;
  margin-top:0px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 520px) {
  .signinButton{
    width: 80vw;
  }
}

@media only screen and (max-width: 430px) {
  .signinButton{
      font-size:25px;
  }
}
