p{
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.modal p{
  font-size: 16px;
  font-weight: 500;
  white-space: pre-line;
}

.privacy h1{
  text-align: center;
  margin-top: 60px;
}

.privacy p{
  font-size: 15px;
  font-weight: 500;
  white-space: pre-line;
}

@media only screen and (max-width: 435px) {
  .modal h1{
    font-size: 25px;
  }
  .modal p{
    font-size: 14px;
    font-weight: 500;
    white-space: pre-line;
  }
}
